<html>
<head>
	<title>Hangman</title>
</head>
<body>
	<h1>Hangman</h1>
	<form>
		<input type="text" name="guess">
	</form>
	<p><%= message %></p>
	<br>
	<p>Guesses:</p>
	<p><%= guesses.join(" ") %></p>
	<br>
	<p>Guesses: <%= guesses.length %>
</body>
</html>